<%- include('partials/header') -%>
<nav class="nav nav-pills nav-fill">
  <a class="nav-item nav-link text-white border border-white rounded bg-success" href="/profile">Profile</a>
  <a class="nav-item nav-link text-white border border-white rounded bg-success" href="/settings">Settings</a>
  <a class="nav-item nav-link text-white border border-white rounded bg-success" href="/logout">Logout</a>
</nav>
  <div class="container">
    <div class="row justify-content-center">
      <ul class="row list-unstyled">
        <% for(var i=0; i<posts.length; i++) {%>
          <li class="col-6 justify-content-between mt-5">
            <a class="text-success text-decoration-none" href="/post/<%= posts[i]._id%>">
              <h5><%= posts[i].commonName %></h5>
              <img class="img-fluid border border-success" src="<%= posts[i].image%>">
            </a>
          </li>
        <% } %>
        </ul>
    </div>
  </div>  
<%- include('partials/footer') -%>